input.slider {
    appearance: none;
    appearance: none;
    width: 60%;
    height: 25px;
    background: linear-gradient(to right, #D6C2CE 0%, #A57893 0%, #fff 0%, #fff 100%);
    outline: none;
}

.slider:hover {
    opacity: 1;
}