html {
    text-align: left;
    font-family: "Noto Sans", sans-serif;
    background-color: #565c5e;
    color: #dfdbd8;
}

html, body {
    margin: 0;
    height: 100%;
}

.body{
    cursor: auto;
}

.body.paintmode{
    cursor: url('paintcursor_4.cur'), pointer;
}

.header{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.titlecontainer {
    padding-right: 500px;
}

.democontainer{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    height: 40px;
}
.democontainer {
    border: 4px solid #565c5e;
}
.slidercontainer {
    border: 4px solid #565c5e;
}


.slidecontainer #demo {
    font-size: larger;
    font-weight: bold;
}

.slider {
    appearance: none;
    width: 95%;
    height: 13px;
    background: #dfdbd8;
    border-radius: 25px;
    outline: none;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    border: 3.4px solid #b5c2c7;
    background: #b5c2c7; 
    cursor: pointer; 
}

.outerblock {
    display: flex;
    justify-content: center;
}
.collpase {
    font-family: "Noto Sans", sans-serif;
    background-color: #eee;
    color: #444;
    padding: 18px;
    height: 80%;
    border: none;
    font-size: 15px;
  }

.collapsecontent {
    width: 200px;
    text-align: center;
    display: block;
}

.btncontainer {
    padding-left: 60px;
    padding-bottom: 11px;
}

.erasecontainer {
    padding-left: 10px;
}

.btncolor{
    display: block;
    text-align: right;
    height: 40px;
    padding: 10px;
    width: 120px;
    margin: 10px;
    border-radius: 30px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: #dfdbd8;
    font-weight: bold; 
    background-image: linear-gradient(to left, #565c5e 30%, hsla(180, 10%, 6%, 1) 100%) ;
    border: none;
}

.btncontainer .black.active {
    background-image: linear-gradient(to right, #565c5e 30%, hsla(180, 10%, 6%, 1) 100%); 
} 
.btncontainer .sunflower.active{
    color: #dfdbd8;
    font-weight: bold;
    background-image: linear-gradient(to right, #565c5e 30%, #d0ae01 80%, #f4cb01 100%) ;
    border: none;
}
.btncontainer .peach.active{
    color: #dfdbd8;
    font-weight: bold;
    background-image: linear-gradient(to right, #565c5e 30%, #caacac 80%, #caacac 100%) ;
    border: none;
}
.btncontainer .botanical.active{
    color: #dfdbd8;
    font-weight: bold;
    background-image: linear-gradient(to right, #565c5e 30%, #588157 80%, #344e41 100%) ;
    border: none;
}
.btncontainer .blackpink.active{
    color: #dfdbd8;
    font-weight: bold;
    background-image: linear-gradient(to right, #565c5e 30%, #ff5f5f 80%, #382d2d 100%);
    border: none;
}
.btncontainer .ocean.active{
    color: #dfdbd8;
    font-weight: bold;
    background-image: linear-gradient(to right, #565c5e 30%, #5282da 80%, #0d40bf 100%) ;
    border: none;
}
.btncontainer .nima.active{
    color: #dfdbd8;
    font-weight: bold;
    background-image: linear-gradient(to right, #565c5e 30%, #afafef 80%, #7c7ce4 100%) ;
    border: none;
}



.collapsecontent .erase {
    font-weight: bolder;
    font-size: 20px;
    color: #dfdbd8;
    height: 50px;
    width: auto;
    margin-top: 230px;
    border-radius: 20px;
    border: none;
    background-color: #565c5e;
}

#right {
    float: right;
}

.gridcontainer {
    display: grid;
    height: 650px;
    width: 650px;
    border-radius: 5px;
};