html {
    text-align: left;
    font-family: "Noto Sans", sans-serif
}

.left {
    float: left;
    border: 4px solid black;
    display: block;
}

.slider {
    appearance: none;
    width: 60%;
    height: 20px;
    background: linear-gradient(to right, #D6C2CE 0%, #A57893 50%, #fff 100%);
    transition: background 450ms ease-in;
    border-radius: 25px;
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.btncolor {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}



.right {
    float: right;
    border: 4px solid black
}



.gridcontainer {
    display: grid;
    height: 500px;
    width: 500px;

}